<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jule.domino.room.dao.mapper.RoomConfigModelMapper">
  <resultMap id="BaseResultMap" type="com.jule.domino.room.dao.bean.RoomConfigModel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="room_id" jdbcType="VARCHAR" property="roomId" />
    <result column="min_join_table" jdbcType="BIGINT" property="minScore4JoinTable" />
    <result column="ante" jdbcType="BIGINT" property="ante" />
    <result column="service_charge" jdbcType="DOUBLE" property="serviceChargeRate" />
    <result column="rob_multiple" jdbcType="VARCHAR" property="robMultiple" />
    <result column="doubleRoles" jdbcType="VARCHAR" property="doubleRoles" />
    <result column="on_off" jdbcType="TINYINT" property="onOff" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from room_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jule.domino.room.dao.bean.RoomConfigModel">
    insert into room_config (room_id, min_join_table,
    ante, service_charge, rob_multiple,doubleRoles,on_off
    )
    values (#{roomId,jdbcType=VARCHAR}, #{minScore4JoinTable,jdbcType=BIGINT},
    #{ante,jdbcType=BIGINT}, #{serviceChargeRate,jdbcType=DOUBLE},#{robMultiple,jdbcType=VARCHAR},#{doubleRoles,jdbcType=VARCHAR},
    #{onOff,jdbcType=TINYINT}
    )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jule.domino.room.dao.bean.RoomConfigModel">
    update room_config
    set room_id = #{roomId,jdbcType=VARCHAR},
    min_join_table = #{minScore4JoinTable,jdbcType=BIGINT},
    ante = #{ante,jdbcType=BIGINT},
    service_charge = #{serviceChargeRate,jdbcType=DOUBLE},
    rob_multiple = #{robMultiple,jdbcType=DOUBLE},
    doubleRoles = #{doubleRoles,jdbcType=VARCHAR},
    on_off = #{onOff,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, room_id, min_join_table, ante, service_charge,rob_multiple,doubleRoles,on_off
    from room_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, room_id, min_join_table, ante, service_charge,rob_multiple,doubleRoles,on_off
    from room_config
    where on_off = 1
    order by ante asc
  </select>
</mapper>