<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <mappers>
        <mapper resource="com/jule/domino/game/dao/mapper/UserMapper.xml"/>
        <mapper resource="com/jule/domino/game/dao/mapper/CommonConfigModelMapper.xml"/>
        <mapper resource="com/jule/domino/game/dao/mapper/RoomConfigModelMapper.xml"/>
        <mapper resource="com/jule/domino/game/dao/mapper/ProductMapper.xml"/>
        <mapper resource="com/jule/domino/game/dao/mapper/CardTypeMultipleModelMapper.xml"/>
        <mapper resource="com/jule/domino/game/dao/mapper/TableCreationRecordsModelMapper.xml"/>
        <mapper resource="com/jule/domino/game/dao/mapper/GameRecordModelMapper.xml"/>
        <mapper resource="com/jule/domino/game/dao/mapper/RoomCardRecordsModelMapper.xml"/>
        <mapper resource="com/jule/domino/game/dao/mapper/FriendTableModelMapper.xml"/>
        <mapper resource="com/jule/domino/game/dao/mapper/ItemRecordsModelMapper.xml"/>
        <mapper resource="com/jule/domino/game/dao/mapper/UserItemModelMapper.xml"/>
        <mapper resource="com/jule/domino/game/dao/mapper/ClubModelMapper.xml"/>
        <mapper resource="com/jule/domino/game/dao/mapper/ClubNoteModelMapper.xml"/>
    </mappers>
</configuration>