<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jule.domino.game.dao.mapper.ClubModelMapper">
  <resultMap id="BaseResultMap" type="com.jule.domino.game.dao.bean.ClubModel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="userId" jdbcType="VARCHAR" property="userId" />
    <result column="nickName" jdbcType="VARCHAR" property="nickName" />
    <result column="icoUrl" jdbcType="VARCHAR" property="icoUrl" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from club
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jule.domino.game.dao.bean.ClubModel">
    insert into club (id, name, userId, 
      nickName, icoUrl, time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{icoUrl,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jule.domino.game.dao.bean.ClubModel">
    update club
    set name = #{name,jdbcType=VARCHAR},
      userId = #{userId,jdbcType=VARCHAR},
      nickName = #{nickName,jdbcType=VARCHAR},
      icoUrl = #{icoUrl,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, userId, nickName, icoUrl, time
    from club
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, name, userId, nickName, icoUrl, time
    from club
    where id in (
        select userId
        from friend_table
        where friendUserId =  #{userId,jdbcType=VARCHAR} and state > 1
    ) or userId = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="selectLastData" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, name, userId, nickName, icoUrl, time
    from club
    where userId =  #{userId,jdbcType=VARCHAR}
    order by id desc limit 1
  </select>
</mapper>