<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jule.domino.game.dao.mapper.CommonConfigModelMapper">
  <resultMap id="BaseResultMap" type="com.jule.domino.game.dao.bean.CommonConfigModel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="play_type" jdbcType="INTEGER" property="playType" />
    <result column="rob_dealer_pct" jdbcType="INTEGER" property="robDealerPct" />
    <result column="change_fee" jdbcType="BIGINT" property="changeCardFee" />
    <result column="settle_type" jdbcType="INTEGER" property="autoSettleType" />
    <result column="is_allow_sideshow" jdbcType="BIT" property="isNeedAllowSideShow" />
    <result column="is_sideshow_user" jdbcType="BIT" property="isChooseSideShowUser" />
    <result column="bet_cd" jdbcType="INTEGER" property="betCountDownSec" />
    <result column="game_start_cd" jdbcType="INTEGER" property="gameStartCountDownSec" />
    <result column="rob_zhuang_cd" jdbcType="INTEGER" property="robZhuangCD"/>
    <result column="fix_dealer_cd" jdbcType="INTEGER" property="fixDealerCD" />
    <result column="open_cards_cd" jdbcType="INTEGER" property="openCardsCD"/>
    <result column="settle_cd" jdbcType="INTEGER" property="settleCD"/>
    <result column="pool_money" jdbcType="BIGINT" property="poolMoney" />
    <result column="total_lose_pct" jdbcType="INTEGER" property="totalLosePct"/>
    <result column="strategy_max_pct" jdbcType="DECIMAL" property="strategyMaxPct"/>
    <result column="strategy_min_pct" jdbcType="DECIMAL" property="strategyMinPct"/>
    <result column="robot_join_pct" jdbcType="VARCHAR" property="robotJoinPct"/>

  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from common_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jule.domino.game.dao.bean.CommonConfigModel">
    insert into common_config ( play_type, rob_dealer_pct,
      change_fee, settle_type, is_allow_sideshow, 
      is_sideshow_user, fix_dealer_cd, bet_cd,
      game_start_cd,rob_zhuang_cd,open_cards_cd,settle_cd,
      pool_money,total_lose_pct,strategy_max_pct,strategy_min_pct,robot_join_pct)
    values ( #{playType,jdbcType=INTEGER}, #{robDealerPct,jdbcType=INTEGER},
      #{changeCardFee,jdbcType=BIGINT}, #{autoSettleType,jdbcType=INTEGER}, #{isNeedAllowSideShow,jdbcType=BIT},
      #{isChooseSiseShowUser,jdbcType=BIT}, #{fixDealerCD,jdbcType=INTEGER}, #{betCountDownSec,jdbcType=INTEGER},
      #{gameStartCountDownSec,jdbcType=INTEGER},#{robZhuangCD,jdbcType=INTEGER},#{openCardsCD,jdbcType=INTEGER},
      #{settleCD,jdbcType=INTEGER}, #{poolMoney,jdbcType=BIGINT}, #{totalLosePct,jdbcType=INTEGER},
      #{strategyMaxPct,jdbcType=DECIMAL}, #{strategyMinPct,jdbcType=DECIMAL}, #{robotJoinPct,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jule.domino.game.dao.bean.CommonConfigModel">
    update common_config
    set bet_cd = #{betCountDownSec,jdbcType=INTEGER},
      game_start_cd = #{gameStartCountDownSec,jdbcType=INTEGER},
      open_cards_cd = #{openCardsCD,jdbcType=INTEGER},
      settle_cd = #{settleCD,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, play_type, rob_dealer_pct, change_fee, settle_type, is_allow_sideshow,
    is_sideshow_user, fix_dealer_cd, bet_cd, game_start_cd,rob_zhuang_cd,open_cards_cd,settle_cd
    ,pool_money,total_lose_pct,strategy_max_pct,strategy_min_pct,robot_join_pct
    from common_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, play_type, rob_dealer_pct, change_fee, settle_type, is_allow_sideshow,
    is_sideshow_user, fix_dealer_cd, bet_cd, game_start_cd,rob_zhuang_cd,open_cards_cd,settle_cd
    ,pool_money,total_lose_pct,strategy_max_pct,strategy_min_pct,robot_join_pct
    from common_config
    order by id asc
  </select>
</mapper>