<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jule.domino.game.dao.mapper.GiftHistoryModelMapper">
  <resultMap id="BaseResultMap" type="com.jule.domino.game.dao.bean.GiftHistoryModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="target_user_id" jdbcType="VARCHAR" property="targetUserId" />
    <result column="gift_item_id" jdbcType="VARCHAR" property="giftItemId" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="play_type" jdbcType="INTEGER" property="playType" />
    <result column="room_id" jdbcType="VARCHAR" property="roomId" />
    <result column="table_id" jdbcType="VARCHAR" property="tableId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <insert id="insert" parameterType="com.jule.domino.game.dao.bean.GiftHistoryModel">
    insert into gift_history (user_id, target_user_id,
    gift_item_id, count, play_type,
    room_id, table_id
    )
    values (#{userId,jdbcType=VARCHAR}, #{targetUserId,jdbcType=VARCHAR},
    #{giftItemId,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, #{playType,jdbcType=INTEGER},
    #{roomId,jdbcType=VARCHAR}, #{tableId,jdbcType=VARCHAR}
    )
  </insert>
</mapper>