<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jule.domino.game.dao.mapper.TaskRelationConfigModelMapper">
  <resultMap id="BaseResultMap" type="com.jule.domino.base.dao.bean.TaskRelationConfigModel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="lineId" jdbcType="INTEGER" property="lineId" />
    <result column="taskId" jdbcType="INTEGER" property="taskId" />
    <result column="parentTaskId" jdbcType="INTEGER" property="parentTaskId" />
    <result column="childTaskId" jdbcType="INTEGER" property="childTaskId" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task_relation_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jule.domino.base.dao.bean.TaskRelationConfigModel">
    insert into task_relation_config (id, lineId, taskId, 
      parentTaskId, childTaskId, createTime,
      updateTime)
    values (#{id,jdbcType=INTEGER}, #{lineId,jdbcType=INTEGER}, #{taskId,jdbcType=INTEGER}, 
      #{parentTaskId,jdbcType=INTEGER}, #{childTaskId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jule.domino.base.dao.bean.TaskRelationConfigModel">
    update task_relation_config
    set lineId = #{lineId,jdbcType=INTEGER},
      taskId = #{taskId,jdbcType=INTEGER},
      parentTaskId = #{parentTaskId,jdbcType=INTEGER},
      childTaskId = #{childTaskId,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, lineId, taskId, parentTaskId, childTaskId, createTime, updateTime
    from task_relation_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, lineId, taskId, parentTaskId, childTaskId, createTime, updateTime
    from task_relation_config
  </select>

</mapper>