<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jule.domino.auth.dao.mapper.RewardConfigModelMapper">
  <resultMap id="BaseResultMap" type="com.jule.domino.auth.dao.bean.RewardConfigModel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="reward_type" jdbcType="CHAR" property="rewardType" />
    <result column="reward_goods_type" jdbcType="VARCHAR" property="rewardGoodsType" />
    <result column="reward_receive_mode" jdbcType="INTEGER" property="rewardReceiveMode" />
    <result column="reward_picture_address" jdbcType="VARCHAR" property="rewardPictureAddress" />
    <result column="valid_date_type" jdbcType="TIMESTAMP" property="validDateType" />
    <result column="reward_amount" jdbcType="BIGINT" property="rewardAmount" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from reward_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jule.domino.auth.dao.bean.RewardConfigModel">
    insert into reward_config (reward_type, reward_goods_type,
      reward_receive_mode, reward_picture_address, 
      valid_date_type, reward_amount)
    values ( #{rewardType,jdbcType=CHAR}, #{rewardGoodsType,jdbcType=VARCHAR},
      #{rewardReceiveMode,jdbcType=INTEGER}, #{rewardPictureAddress,jdbcType=VARCHAR},
      #{validDateType,jdbcType=TIMESTAMP}, #{rewardAmount,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.jule.domino.auth.dao.bean.RewardConfigModel">
    update reward_config
    set reward_type = #{rewardType,jdbcType=CHAR},
      reward_goods_type = #{rewardGoodsType,jdbcType=VARCHAR},
      reward_receive_mode = #{rewardReceiveMode,jdbcType=INTEGER},
      reward_picture_address = #{rewardPictureAddress,jdbcType=VARCHAR},
      valid_date_type = #{validDateType,jdbcType=TIMESTAMP},
      reward_amount = #{rewardAmount,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, reward_type, reward_goods_type, reward_receive_mode, reward_picture_address, 
    valid_date_type, reward_amount
    from reward_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, reward_type, reward_goods_type, reward_receive_mode, reward_picture_address, 
    valid_date_type, reward_amount
    from reward_config
    order by id asc
  </select>
</mapper>